<!DOCTYPE html>
<html>
<head>
    <title>Weather | About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/style.css" type="text/css">
</head>
<body>
    <div class="main-content">
        {{>header}}
        <p>This site is created by Prayas. It uses data from mapbox.com and darksjy.net</p>
        <img class="portrait" src="/img/about-me-img.jpg">
    </div>
    
    {{>footer}}
</body>
</html>